<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.amber.multiselector">

    <application
        android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".video.MultiVideoSelectorActivity"
           />
        <activity android:name=".image.MultiImageSelectorActivity"
            />
        <activity android:name=".image.crop.CropActivity"
            />
    </application>

</manifest>
